---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary: #009600;
$theme-dark: #222;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;

#button-sign-up-wrapper {
	margin-left: auto;
	margin-right: auto;
}

#button-sign-up {
	width: 100%;
	height: 3rem;
	border: none;
	background-image: linear-gradient(to right, #009FDD, #62B771);
	color: white;
	font-size: 1.5rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.2rem;
	font-weight: 500;
}

#button-sign-up:hover {
	border: solid;
	border-color: #009FDD;
	background-image: linear-gradient(white, white);
	color: #009FDD;
}

.mentor-photo {
	width: 15rem;
	border-radius: 100%;
	border: solid 2px #52B195;
}