<section id="coming_soon">
  <div class="container">
    <div class="row">
      <div
        class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 text-center"
      >
        <h2 class="section-heading">Event Announcement!</h2>
        <hr class="primary" />
      </div>
    </div>
    <div>
      <p class="test-muted text-center">
        General open QnA with members of the Ivy team and others in the
        community: Ask us Anything! There is no particular agenda, there are no
        silly questions, just an opportunity for you to ask anything you want,
        and for us to explain some of the more complex aspects of Ivy. Everyone
        welcome! :)
      </p>
      <div class="row">
        <div class="col-sm-4">
          <p class="test-muted">Next Event(Your Local Time):</p>
        </div>
        <div class="col-sm-8">
          <p class="test-muted"><a id="local"></a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <p class="test-muted">Next Event(UTC): </p>
        </div>
        <div class="col-sm-8">
          <p class="test-muted"><a id="utc"></a></p>
        </div>
      </div>
      <p class="test-muted left">
        Add this event to your calendar by clicking on one fo the following
        links to be notified so that you don't miss it!
      </p>
      <p class="test-muted text-left">
        <a id="google_id">Google</a>
      </p>
      <p class="test-muted text-left">
        <a id="yahoo_id">Yahoo</a>
      </p>
    </div>
  </div>
</section>
