<section id="any" class="liner mt-5">
  <div class="column" data-min="1">
    <div class="title">
      run any
      <div id="title-main">code</div>
    </div>
    <div class="item">
      <span><img src="img/svg/mxnet.svg" alt="" /></span>
    </div>
    <div class="item">
      <span><img src="img/svg/tenserflow.svg" alt="" /></span>
    </div>
    <div class="item">
      <span><img src="img/svg/jax.svg" alt="" /></span>
    </div>
    <div class="item">
      <span><img src="img/svg/pytorch.svg" alt="" /></span>
    </div>
    <div class="item">
      <span><img src="img/svg/numpy.svg" alt="" /></span>
    </div>
    <div class="item">
      <span><img src="img/svg/ivy.svg" alt="" /></span>
    </div>
  </div>
  <div class="column" data-multiple="false">
    <div class="title">
      in any
      <div id="title-main">pipeline</div>
    </div>
    <div class="item">
      <span><img src="img/svg/mxnet.svg" alt="" /></span>
    </div>
    <div class="item">
      <span><img src="img/svg/tenserflow.svg" alt="" /></span>
    </div>
    <div class="item">
      <span><img src="img/svg/jax.svg" alt="" /></span>
    </div>
    <div class="item">
      <span><img src="img/svg/pytorch.svg" alt="" /></span>
    </div>
    <div class="item">
      <span><img src="img/svg/numpy.svg" alt="" /></span>
    </div>
    <div class="item">
      <span><img src="img/svg/ivy.svg" alt="" /></span>
    </div>
  </div>
  <div class="column" data-multiple="false">
    <div class="title">
      with any
      <div id="title-main">backend</div>
    </div>
    <div class="item" data-forbidden="2">
      <span><img src="img/svg/mxnet.svg" alt="" /></span>
    </div>
    <div class="item">
      <span><img src="img/svg/tenserflow.svg" alt="" /></span>
    </div>
    <div class="item">
      <span><img src="img/svg/jax.svg" alt="" /></span>
    </div>
    <div class="item">
      <span><img src="img/svg/pytorch.svg" alt="" /></span>
    </div>
    <div class="item" data-forbidden="1,2">
      <span><img src="img/svg/numpy.svg" alt="" /></span>
    </div>
  </div>
  <div class="column big" data-multiple="false">
    <div class="title">
      on any
      <div id="title-main">hardware</div>
    </div>
    <div class="item">
      <span><img src="img/svg/GPU.svg" alt="" /></span>
      <div class="title">GPU</div>
    </div>
    <div class="item">
      <span><img src="img/svg/TPU.svg" alt="" /></span>
      <div class="title">TPU</div>
    </div>
    <div class="item">
      <span><img src="img/svg/CPU.svg" alt="" /></span>
      <div class="title">CPU</div>
    </div>
    <div class="item">
      <span><img src="img/svg/Multi_node.svg" alt="" /></span>
      <div class="title">Multi Node</div>
    </div>
  </div>
</section>
