<section id="any_user" style="background-color: rgb(240, 240, 240)">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1
                        col-sm-8 col-sm-offset-2
                        col-md-6 col-md-offset-3
                        col-lg-4 col-lg-offset-4 text-center">
                <h2 class="section-heading">Any User</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1
                        col-sm-8 col-sm-offset-2
                        col-md-6 col-md-offset-3
                        col-lg-6 col-lg-offset-3 text-center">
                <img width="100%" src="../img/any_user/pngs/empty.png">
                <div class="service-box">
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="3.6s">
                        <img width="100%" src="../img/any_user/pngs/0.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="3.4s">
                        <img width="100%" src="../img/any_user/pngs/1.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="3.2s">
                        <img width="100%" src="../img/any_user/pngs/2.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="3.0s">
                        <img width="100%" src="../img/any_user/pngs/3.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="2.8s">
                        <img width="100%" src="../img/any_user/pngs/4.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="2.6s">
                        <img width="100%" src="../img/any_user/pngs/5.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="2.4s">
                        <img width="100%" src="../img/any_user/pngs/6.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="2.2s">
                        <img width="100%" src="../img/any_user/pngs/7.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="2.0s">
                        <img width="100%" src="../img/any_user/pngs/8.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="1.8s">
                        <img width="100%" src="../img/any_user/pngs/9.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="1.6s">
                        <img width="100%" src="../img/any_user/pngs/10.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="1.4s">
                        <img width="100%" src="../img/any_user/pngs/11.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="1.2s">
                        <img width="100%" src="../img/any_user/pngs/12.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="1.0s">
                        <img width="100%" src="../img/any_user/pngs/13.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay=".8s">
                        <img width="100%" src="../img/any_user/pngs/14.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay=".6s">
                        <img width="100%" src="../img/any_user/pngs/15.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay=".4s">
                        <img width="100%" src="../img/any_user/pngs/16.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay=".2s">
                        <img width="100%" src="../img/any_user/pngs/17.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary">
                        <img width="100%" src="../img/any_user/pngs/18.png">
                    </i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1
                        col-sm-4 col-sm-offset-0
                        col-md-4 col-md-offset-0
                        col-lg-4 col-lg-offset-0
                        text-center">
                <img width="25%" src="../img/any_user/some.png">
                <h3>Example</h3>
                <p class="text-muted">You have written a PyTorch library, and released this on GitHub</p>
                <p class="text-muted">JAX, TensorFlow and other ML developers cannot use your library</p>
                <p class="text-muted">Your library is only useful to a subset of all ML developers</p>
            </div>
            <div class="col-xs-10 col-xs-offset-1
                        col-sm-4 col-sm-offset-0
                        col-md-4 col-md-offset-0
                        col-lg-4 col-lg-offset-0
                        text-center">
                <img width="25%" src="../img/any_user/all_in_many.png">
                <h3>Current Solution</h3>
                <p class="text-muted">Limit your audience to users of your chosen framework, in this case PyTorch</p>
                <p class="text-muted">Wait for others in the community to create similar spin-off tools for the other frameworks,
                which address the needs of these users independently</p>
            </div>
            <div class="col-xs-10 col-xs-offset-1
                        col-sm-4 col-sm-offset-0
                        col-md-4 col-md-offset-0
                        col-lg-4 col-lg-offset-0
                        text-center">
                <img width="25%" src="../img/any_user/all_in_one.png">
                <h3>Ivy Solution</h3>
                <p class="text-muted">Open up your library to all ML developers simultaneously, without any code changes</p>
                <p class="text-muted">Add examples, showing how Ivy can transpile any function in your library to any target framework</p>
            </div>
        </div>
    </div>
</section>
