<section id="libs" style="background-color: rgb(240, 240, 240)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A Flexible Framework</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12
                        col-sm-8 col-sm-offset-2 text-center">
                <img width="75%" src="../img/abstraction_hierarchy/0.png">
                <div class="service-box">
                    <i class="overlay fa fa-4x wow slideInRight text-primary">
                        <img width="75%" src="../img/abstraction_hierarchy/a.png">
                    </i>
                    <i class="overlay fa fa-4x wow slideInRight text-primary" data-wow-delay=".1s">
                        <img width="75%" src="../img/abstraction_hierarchy/b.png">
                    </i>
                    <i class="overlay fa fa-4x wow slideInRight text-primary" data-wow-delay=".2s">
                        <img width="75%" src="../img/abstraction_hierarchy/c.png">
                    </i>
                    <i class="overlay fa fa-4x wow slideInRight text-primary" data-wow-delay=".3s">
                        <img width="75%" src="../img/abstraction_hierarchy/d.png">
                    </i>
                    <i class="overlay fa fa-4x wow slideInRight text-primary" data-wow-delay=".4s">
                        <img width="75%" src="../img/abstraction_hierarchy/e.png">
                    </i>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1
                        col-sm-8 col-sm-offset-2
                        col-md-6 col-md-offset-3
                        col-lg-4 col-lg-offset-4 text-center">
                <p class="text-muted">Ivy wraps the functional APIs of existing frameworks,
                    enabling portable framework-agnostic code. Ivy can therefore either be used in isolation,
                    or be used alongside framework-specific code.</p>
            </div>
        </div>
    </div>

</section>
