<section id="contact" style="background-color: rgb(240, 240, 240)">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1
                        col-sm-8 col-sm-offset-2
                        col-md-6 col-md-offset-3
                        col-lg-4 col-lg-offset-4 text-center">
                <h2 class="section-heading">Get Involved!</h2>
                <hr class="primary">
                <p class="text-muted">Join the Ivy community by using Ivy in your projects, and open sourcing your own Ivy functions.
                    Many more libraries are possible!<br/><br/>Please reach out if you have any question or requests, we will do our best to help!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-2 col-sm-offset-3 text-center">
                <a href="https://twitter.com/ivythread" target="_blank">
                    <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-xs-4 col-sm-2 text-center">
                <a href="https://youtu.be/AympTZtQAE8" target="_blank">
                    <i class="fa fa-youtube-play fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-xs-4 col-sm-2 text-center">
                <a href="https://github.com/ivy-dl/ivy" target="_blank">
                    <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
        </div>
    </div>
</section>
