<section id="contact" style="background-color: rgb(240, 240, 240)">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 text-center"
      >
        <h2 class="section-heading">Get Involved!</h2>
        <hr class="primary" />
        <p class="text-muted">
          All are welcome to join our
          <a href="https://discord.com/invite/G4aR9Q7DTN">discord</a>, start
          <a href="https://github.com/unifyai/ivy/discussions">discussions</a>,
          raise <a href="https://github.com/unifyai/ivy/issues">issues</a>, make
          <a href="https://github.com/unifyai/ivy/pulls">pull requests</a> or
          <a href="https://deep-ivy-ltd.breezy.hr/">apply</a> to join our team!
        </p>
        <p class="text-muted">
          This applies to veterned developers and also to total beginners,
          everyone is welcome on board!
        </p>
        <p class="text-muted">
          General open QnA with members of the Ivy team and others in the
          community: Ask us Anything! There is no particular agenda, there are
          no silly questions, just an opportunity for you to ask anything you
          want, and for us to explain some of the more complex aspects of Ivy.
          Everyone welcome! :)
        </p>
        <p class="test-muted text-left">
          Next Event(Your Local Time): <a id="local"></a>
        </p>
        <p class="test-muted text-left">Next Event(UTC): <a id="utc"></a></p>
        <p class="test-muted">
          Add this event to your calendar by clicking on one fo the following
          links to be notified so that you don't miss it!
        </p>
        <div class="row">
          <div class="col-md-6">
            <p class="test-muted text-center">
              <a id="google_id">Google</a>
            </p>
          </div>
          <div class="col-md-6">
            <p class="test-muted text-center">
              <a id="yahoo_id">Yahoo</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-2 col-sm-offset-3 text-center">
        <a href="https://twitter.com/letsunifyai" target="_blank">
          <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        </a>
      </div>
      <div class="col-xs-4 col-sm-2 text-center">
        <a
          href="https://www.youtube.com/channel/UCGlkr-YCs3TjMVeOhbbULsw"
          target="_blank"
        >
          <i
            class="fa fa-youtube-play fa-3x wow bounceIn"
            data-wow-delay=".1s"
          ></i>
        </a>
      </div>
      <div class="col-xs-4 col-sm-2 text-center">
        <a href="https://github.com/unifyai/ivy" target="_blank">
          <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        </a>
      </div>
    </div>
  </div>
</section>
