<section id="libs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Ivy Libraries</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-start">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
                <i class="fa fa-4x wow bounceIn text-primary">
                    <a href="https://www.github.com/ivy-dl/mech" target="_blank">
                        <img width="50%" src="../img/library_logos/mech_logo.png">
                    </a>
                </i>
                <h3>Mechanics</h3>
                <p class="text-muted">Orientation, position, and pose conversions. Co-ordinate transformations. Some silly text.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
                <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".1s">
                    <a href="https://www.github.com/ivy-dl/vision" target="_blank">
                        <img width="50%" src="../img/library_logos/vision_logo.png">
                    </a>
                </i>
                <h3>Vision</h3>
                <p class="text-muted">Voxel grids, rendering, optical flow, triangulation, SDFs and more.</p>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
                <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".2s">
                    <a href="https://www.github.com/ivy-dl/robot" target="_blank">
                        <img width="50%" src="../img/library_logos/robot_logo.png">
                    </a>
                </i>
                <h3>Robot</h3>
                <p class="text-muted">Gradient-based motion planning for mobile robots and manipulators.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
                <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".3s">
                    <a href="https://www.github.com/ivy-dl/gym" target="_blank">
                        <img width="50%" src="../img/library_logos/gym_logo.png">
                    </a>
                </i>
                <h3>Gym</h3>
                <p class="text-muted">Differentiable RL gym environments, solvable via trajectory optimization.</p>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
                <i class="fa fa-4x wow bounceIn text-primary">
                    <a href="https://www.github.com/ivy-dl/memory" target="_blank">
                        <img width="50%" src="../img/library_logos/memory_logo.png">
                    </a>
                </i>
                <h3>Memory</h3>
                <p class="text-muted">Neural memory modules, such as neural turing machines and more.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
                <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".1s">
                    <a href="https://www.github.com/ivy-dl/builder" target="_blank">
                        <img width="50%" src="../img/library_logos/builder_logo.png">
                    </a>
                </i>
                <h3>Builder</h3>
                <p class="text-muted">Tools for building networks, trainers and data loaders in a few lines of code.</p>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
                <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".2s">
                    <a href="https://www.github.com/ivy-dl/models" target="_blank">
                        <img width="50%" src="../img/library_logos/models_logo.png">
                    </a>
                </i>
                <h3>Models</h3>
                <p class="text-muted">Pre-trained models + implementations of well-known networks.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
                <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".3s">
                    <a href="https://www.github.com/ivy-dl/ecosystem" target="_blank">
                        <img width="50%" src="../img/library_logos/ecosystem_logo.png">
                    </a>
                </i>
                <h3>Ecosystem</h3>
                <p class="text-muted">Collection of third-Part libraries using Ivy to support all frameworks.</p>
            </div>
        </div>
    </div>
</section>
