<section id="libs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Ivy Libraries</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xs-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary">
                        <a href="https://www.github.com/ivy-dl/mech">
                            <img width="50%" src="../img/library_logos/mech_logo.png">
                        </a>
                    </i>
                    <h3>Mechanics</h3>
                    <p class="text-muted">Orientation, position, and pose conversions. Co-ordinate transformations.</p>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".1s">
                        <a href="https://www.github.com/ivy-dl/vision">
                            <img width="50%" src="../img/library_logos/vision_logo.png">
                        </a>
                    </i>
                    <h3>Vision</h3>
                    <p class="text-muted">Voxel grids, rendering, optical flow, depth triangulation, signed distance functions and more.</p>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".2s">
                        <a href="https://www.github.com/ivy-dl/robot">
                            <img width="50%" src="../img/library_logos/robot_logo.png">
                        </a>
                    </i>
                    <h3>Robot</h3>
                    <p class="text-muted">Gradient-based motion planning for mobile robots and manipulators, using splines.</p>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".3s">
                        <a href="https://www.github.com/ivy-dl/gym">
                            <img width="50%" src="../img/library_logos/gym_logo.png">
                        </a>
                    </i>
                    <h3>Gym</h3>
                    <p class="text-muted">Differentiable RL gym environments, solvable via trajectory optimization.</p>
                </div>
            </div>
        </div>
    </div>
</section>
