<nav class="navbar navbar-default navbar-fixed-top my-nav">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://apply.unify.ai/" target="_blank">Careers</a></li>
                <li><a href="https://github.com/unifyai/ivy" target="_blank">Code</a></li>
                <li><a href="https://unify.ai/docs/ivy" target="_blank">Docs</a></li>
                <li><a href="https://discord.com/invite/G4aR9Q7DTN" target="_blank">Discord</a></li>
                <li><a href="https://medium.com/@unifyai/the-unified-ml-framework-5bf99774d8ab" target="_blank">Blog</a></li>
                <li><a href="https://www.youtube.com/@unifyai" target="_blank">Youtube</a></li>
                <li><a href="https://twitter.com/letsunifyai" target="_blank">Twitter</a></li>
            </ul>
        </div>

    </div>
</nav>
