<section id="prototype">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1
                        col-sm-8 col-sm-offset-2
                        col-md-6 col-md-offset-3
                        col-lg-4 col-lg-offset-4 text-center">
                <h2 class="section-heading">Instant Prototypes</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1
                        col-sm-8 col-sm-offset-2
                        col-md-6 col-md-offset-3
                        col-lg-6 col-lg-offset-3 text-center">
                <img width="100%" src="../img/prototype/pngs/empty.png">
                <div class="service-box">
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="3.8s">
                        <img width="100%" src="../img/prototype/pngs/00.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="3.6s">
                        <img width="100%" src="../img/prototype/pngs/0.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="3.4s">
                        <img width="100%" src="../img/prototype/pngs/1.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="3.2s">
                        <img width="100%" src="../img/prototype/pngs/2.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="3.0s">
                        <img width="100%" src="../img/prototype/pngs/3.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="2.8s">
                        <img width="100%" src="../img/prototype/pngs/4.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="2.6s">
                        <img width="100%" src="../img/prototype/pngs/5.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="2.4s">
                        <img width="100%" src="../img/prototype/pngs/6.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="2.2s">
                        <img width="100%" src="../img/prototype/pngs/7.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="2.0s">
                        <img width="100%" src="../img/prototype/pngs/8.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="1.8s">
                        <img width="100%" src="../img/prototype/pngs/9.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="1.6s">
                        <img width="100%" src="../img/prototype/pngs/10.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="1.4s">
                        <img width="100%" src="../img/prototype/pngs/11.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="1.2s">
                        <img width="100%" src="../img/prototype/pngs/12.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay="1.0s">
                        <img width="100%" src="../img/prototype/pngs/13.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay=".8s">
                        <img width="100%" src="../img/prototype/pngs/14.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay=".6s">
                        <img width="100%" src="../img/prototype/pngs/15.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay=".4s">
                        <img width="100%" src="../img/prototype/pngs/16.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary" data-wow-delay=".2s">
                        <img width="100%" src="../img/prototype/pngs/17.png">
                    </i>
                    <i class="overlay fa fa-4x wow fadeIn text-primary">
                        <img width="100%" src="../img/prototype/pngs/18.png">
                    </i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1
                        col-sm-8 col-sm-offset-2
                        col-md-4 col-md-offset-0
                        col-lg-4 col-lg-offset-0
                        text-center">
                <img width="20%" src="../img/prototype/broken_link.png">
                <h3>Problem</h3>
                <p class="text-muted">Your ML pipeline is written in PyTorch.</p>
                <p class="text-muted">DeepMind release a JAX model on GitHub, which is the source code for an awesome paper.
                    You'd like to try out this model in your pipeline.</p>
            </div>
            <div class="col-xs-10 col-xs-offset-1
                        col-sm-8 col-sm-offset-2
                        col-md-4 col-md-offset-0
                        col-lg-4 col-lg-offset-0
                        text-center">
                <img width="20%" src="../img/prototype/calendar.png">
                <h3>Current Solution</h3>
                <p class="text-muted">Implement the model in PyTorch yourself, spending time and energy ensuring every detail is correct.</p>
                <p class="text-muted">otherwise, wait for a PyTorch version to appear on GitHub.
                    There are inevitably subtle bugs and deviations from the original.
                    You must still spend time and energy ensuring the implementation is correct.</p>
            </div>
            <div class="col-xs-10 col-xs-offset-1
                        col-sm-8 col-sm-offset-2
                        col-md-4 col-md-offset-0
                        col-lg-4 col-lg-offset-0
                        text-center">
                <img width="20%" src="../img/prototype/fast.png">
                <h3>Ivy Solution</h3>
                <p class="text-muted">Instantly transpile the JAX model directly into PyTorch, creating an identical PyTorch equivalent of the original model.</p>
            </div>
        </div>
    </div>
</section>
