<section id="roundtable" style="background-color: rgb(240, 240, 240)">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1
                        col-sm-8 col-sm-offset-2
                        col-md-6 col-md-offset-3
                        col-lg-4 col-lg-offset-4">
                <a href="https://www.roundtable-chatroom.com/" target="_blank">
                    <img width="100%" class="img" src="../img/roundtable/logo.svg">
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1
                        col-sm-8 col-sm-offset-2
                        col-md-6 col-md-offset-3
                        col-lg-4 col-lg-offset-4 text-center">
                <p class="text-muted"><br/>We are proud sponsors of Roundtable Chatroom, which host free and inclusive
                    events where ML researchers, enthusiasts and skeptics meet to discuss important topics in ML.</p>
                <p >Next event:</p><p class="text-muted">NeurIPS 2021, 10th December at 20:00-22:00 UTC</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6 text-center">
                <div class="service-box">
                    <i class="fa-4x wow bounceIn">
                        <a href="http://people.eecs.berkeley.edu/~russell/" target="_blank">
                            <img class="mentor-photo" src="../img/roundtable/mentor-stuart-russell.jpeg">
                        </a>
                    </i>
                    <h3>Prof. Stuart Russell</h3>
                    <p class="text-muted">Can we make AI compatible with human existence?</p>
                </div>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>
            <div class="col-lg-2 col-sm-6 col-xs-6 text-center">
                <div class="service-box">
                    <i class="fa-4x wow bounceIn" data-wow-delay=".1s">
                        <a href="https://www.imperial.ac.uk/people/e.johns" target="_blank">
                            <img class="mentor-photo" src="../img/roundtable/mentor-edward-johns.jpeg">
                        </a>
                    </i>
                    <h3>Dr. Edward Johns</h3>
                    <p class="text-muted">Is reinforcement learning useful in the real world?</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-xs-6 text-center">
                <div class="service-box">
                    <i class="fa-4x wow bounceIn" data-wow-delay=".2s">
                        <a href="https://www.microsoft.com/en-us/research/people/wallach/" target="_blank">
                            <img class="mentor-photo" src="../img/roundtable/mentor-hanna-wallace.jpeg">
                        </a>
                    </i>
                    <h3>Prof. Hanna Wallach</h3>
                    <p class="text-muted">I wish I knew ... at the start of my research career</p>
                </div>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>
            <div class="col-lg-2 col-sm-6 col-xs-6 text-center">
                <div class="service-box">
                    <i class="fa-4x wow bounceIn" data-wow-delay=".3s">
                        <a href="https://www.man.com/stefan-zohren" target="_blank">
                            <img class="mentor-photo" src="../img/roundtable/mentor-stefan-zohren.jpeg">
                        </a>
                    </i>
                    <h3>Dr. Stefan Zohren</h3>
                    <p class="text-muted">AI in finance</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-xs-6 text-center">
                <div class="service-box">
                    <i class="fa-4x wow bounceIn" data-wow-delay=".4s">
                        <a href="https://homes.cs.washington.edu/~pedrod/" target="_blank">
                            <img class="mentor-photo" src="../img/roundtable/mentor-pedro-domingos.jpeg">
                        </a>
                    </i>
                    <h3>Prof. Pedro Domingos</h3>
                    <p class="text-muted">Is machine learning the master algorithm?</p>
                </div>
            </div>
        </div>
        <div class="row">
            <br/>
            <div class="col-lg-10 col-lg-offset-1 col-sm-12 col-xs-12 text-center">
                <a id="button-sign-up-box" href="https://forms.gle/pLj2EFftxntuQi9N9" target="_blank">
                    <button id="button-sign-up">SIGN UP</button>
                </a>
            </div>
        </div>
    </div>
</section>
