<section id="team_content">
  <div class="container-fluid">
    <div class="team-container d-flex flex-row justify-content-center">
      <div class="col-md-6 cards">
        <div class="card">
          <div class="image-container">
            <img
              src="../img/logos/ivy_logo_only.png"
              alt="image"
              class="image"
            />
          </div>
          <div class="card-content">
            <div class="name">Name Name</div>
            <div class="bio">
              CS Undergraduate at UCL, [something personal about you>].
            </div>
            <div class="github">
              <a href="https://github.com/namename" target="_blank"
                ><img
                  src="../font-awesome/svgs/github-brands.svg"
                  width="25"
                  height="25"
                  class="profile-icon"
                />github.com/namename</a
              >
            </div>
            <div class="discord">
              <a href="https://discord.com/users/xxxx" target="_blank"
                ><img
                  src="../font-awesome/svgs/discord.svg"
                  width="25"
                  height="25"
                  class="profile-icon"
                />discord.com/users/xxxx</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
