<section class="bg-primary" id="unified">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Unified Machine Learning</h2>
                <hr class="light">
            </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1
                        col-sm-8 col-sm-offset-2
                        col-md-6 col-md-offset-3
                        col-lg-4 col-lg-offset-4 text-center">
                <br />
                <p class="text-faded">Ivy unifies the syntax and call signatures of existing frameworks.
                    Write your code once in Ivy, and support all frameworks simultaneously.</p>
                <a href="https://github.com/unifyai/ivy" target="_blank" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
